body {
    background: linear-gradient(to right, rgb(1, 113, 1), rgb(84, 182, 112), green);
    text-align: left;
    height: 100vh;
    overflow: hidden;
}

h1 {
    color: white;
    text-align: center;
    font-size: 3vw;
    font-family: sans-serif;
    margin-top: 0;
    text-shadow: 4px 4px 6px #231f20;
}

.container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

input[type="text"] {
    position: absolute;
    top: 52%;
    left: 65%;
    height: 50px;
}

svg {
    margin-right: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    margin-top: 90px;
    object-fit: contain;
}

.svg-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.svg-container svg {
    max-width: 100%;
    max-height: 90%;
    object-fit: contain;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin-right: 1400px;
}

.text-container {
    margin-right: 20px;
    background-color: rgb(2, 55, 11);
    color: rgb(182, 182, 182);
    font-family: sans-serif;
    font-size: 2vh;
    line-height: 1.5;
    padding: 10px;
}

.rules {
    display: block;
    margin-right: 20px;
}

button {
    position: absolute;
    top: 63%;
    left: 69%;
    font-family: sans-serif;
    font-size: 1em;
    padding: 10px 20px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkgreen;
}

.cls-1 {
    fill: url(#radial-gradient);
    stroke-width: 4px;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9,
.cls-10 {
    stroke: #231f20;
    stroke-miterlimit: 10;
}

.cls-2 {
    fill: url(#linear-gradient-2);
}

.cls-3 {
    fill: #004a09;
    opacity: .88;
}

.cls-11 {
    font-size: 34.1px;
}

.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15 {
    fill: #231f20;
}

.cls-11,
.cls-13,
.cls-14,
.cls-15 {
    font-family: Arimo, Arimo;
}

.cls-4 {
    fill: #8dc63f;
    opacity: .37;
}

.cls-5 {
    opacity: .13;
}

.cls-5,
.cls-16 {
    fill: #fff;
}

.cls-17 {
    fill: #e5d9dc;
}

.cls-17,
.cls-18,
.cls-16,
.cls-12,
.cls-19,
.cls-20 {
    stroke-width: 0px;
}

.cls-6 {
    stroke-width: 10px;
}

.cls-6,
.cls-20 {
    fill: #e8efe9;
}

.cls-18 {
    fill: #7fd1ee;
}

.cls-7 {
    fill: url(#linear-gradient-3);
}

.cls-8 {
    fill: #005f00;
}

.cls-9 {
    fill: #09f400;
    opacity: .26;
}

.cls-19 {
    fill: #e2406e;
}

.cls-13 {
    font-size: 111.15px;
}

.cls-14 {
    font-size: 111.16px;
}

.cls-10 {
    fill: url(#linear-gradient);
}

.cls-15 {
    font-size: 34.1px;
}